# system authorization information
auth  --useshadow  --enablemd5

# use text mode install
text

# firewall configuration
firewall --enabled --service=ssh

# disble the setup agent on first boot
firstboot --disable

# system keyboard
keyboard us

# system language
lang en_US

# network configuration
network --bootproto=dhcp

# post installation reboot
reboot

# root password set to 'vagrant'
rootpw --iscrypted $1$damlkd,f$UC/u5pUts5QiU3ow.CSso/

# selinux configuration
selinux --disabled

# do not configure the X Window System
skipx

# system timezone
timezone  America/New_York

# install os instead of upgrade
install
cdrom
authconfig --enableshadow --passalgo=sha512

# system bootloader configuration
bootloader --location=mbr

# partition clearing information
clearpart --linux

# setup partitions
part /boot --fstype ext4 --size=100
part pv.1 --grow --size=200

volgroup sysvg --pesize=4096 pv.1
logvol / --fstype=ext4 --name=root --vgname=sysvg --size=500 --fsoptions=noatime
logvol swap --name=swap --vgname=sysvg --size=500
logvol /var --fstype=ext4 --name=var --vgname=sysvg --size=1000 --fsoptions=noatime,nosuid,nodev
logvol /usr --fstype=ext4 --name=usr --vgname=sysvg --size=1000 --fsoptions=noatime,nodev
logvol /home --fstype=ext4 --name=home --vgname=sysvg --size=250 --fsoptions=noatime,nodev
logvol /opt --fstype=ext4 --name=opt --vgname=sysvg --size=500 --fsoptions=noatime,nodev


%packages --ignoremissing --nobase
@Core
@Base --nodefaults
-aic94xx-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-efibootmgr
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
-iwl100-firmware
-iwl1000-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6000g2b-firmware
-iwl6050-firmware
-kernel-firmware
-libertas-usb8388-firmware
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware
-ql2400-firmware
-ql2500-firmware
-rt61pci-firmware
-rt73usb-firmware
-selinux-policy
-selinux-policy-targeted
-ssmtp
-xorg-x11-drv-ati-firmware
-zd1211-firmware


%post
# work around virtualbox nat dns issues (during %post)
cat > /etc/resolv.conf <<'EOF'
nameserver 10.231.161.37
nameserver 208.67.222.222
nameserver 208.67.220.220
EOF


cat >> /etc/rc.local <<'KSEOF'

# work around virtualbox nat dns issues
cat > /etc/resolv.conf <<'EOF'
nameserver 10.231.161.37
nameserver 208.67.222.222
nameserver 208.67.220.220
EOF
KSEOF

/usr/bin/yum -y install sudo
/usr/bin/yum clean all

# disable requirement to have a tty for sudo
sed -i 's/^.*requiretty/#Defaults requiretty/' /etc/sudoers

# add vagrant user
/usr/sbin/groupadd vagrant
/usr/sbin/useradd vagrant -g vagrant -G wheel
echo 'vagrant' | passwd --stdin vagrant
echo 'vagrant        ALL=(ALL)       NOPASSWD: ALL' >> /etc/sudoers.d/vagrant
chmod 0440 /etc/sudoers.d/vagrant

# installing vagrant ssh keys
mkdir -pm 700 /home/vagrant/.ssh
curl -s 'https://raw.github.com/mitchellh/vagrant/master/keys/vagrant.pub' > /home/vagrant/.ssh/authorized_keys
chmod 0600 /home/vagrant/.ssh/authorized_keys
chown -R vagrant /home/vagrant/.ssh

# initialize changelog
mkdir -p /var/adm
cat > /var/adm/changelog <<EOF
`date +%Y%m%d` cas vagrant: initial install
EOF
